#!/usr/bin/env xdg-open
{{ ansible_managed | comment }}
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chrome for Elastisys
Exec=sh -c '/opt/google/chrome/google-chrome --user-data-dir=$HOME/.config/google-chrome-elastisys --class=chrome-elastisys'
Icon=chrome-elastisys
StartupWMClass=chrome-elastisys
