{{ ansible_managed | comment }}
# sourced by /usr/share/bash-completion/bash_completion, which is sourced
# by ~/.bashrc

# kubectx
_kube_contexts()
{
  local curr_arg;
  curr_arg=${COMP_WORDS[COMP_CWORD]}
  COMPREPLY=( $(compgen -W "- $(kubectl config get-contexts --output='name')" -- $curr_arg ) );
}

complete -F _kube_contexts kubectx kctx

# kubens
_kube_namespaces()
{
  local curr_arg;
  curr_arg=${COMP_WORDS[COMP_CWORD]}
  COMPREPLY=( $(compgen -W "- $(kubectl get namespaces -o=jsonpath='{range .items[*].metadata.name}{@}{"\n"}{end}')" -- $curr_arg ) );
}

complete -F _kube_namespaces kubens kns

#
# More tools
#
if [ -f $HOME/.local/bin/aws_completer ]; then
  complete -C '$HOME/.local/bin/aws_completer' aws
fi
if [ -f /snap/google-cloud-sdk/current/completion.bash.inc ]; then
  . '/snap/google-cloud-sdk/current/completion.bash.inc'
fi
if kubectl > /dev/null 2> /dev/null; then
  source <(kubectl completion bash)
fi
if minikube > /dev/null 2> /dev/null; then
  source <(minikube completion bash)
fi
