<?xml version="1.0"?>
<!-- {{ ansible_managed | comment }} -->
<RDF:RDF xmlns:NS1="http://passwordmaker.mozdev.org/rdf#"
         xmlns:NC="http://home.netscape.com/NC-rdf#"
         xmlns:RDF="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<RDF:Description RDF:about="http://passwordmaker.mozdev.org/defaults"
 NS1:name="Defaults"
  NS1:urlToUse=""
  NS1:whereLeetLB="off"
  NS1:leetLevelLB="null"
  NS1:hashAlgorithmLB="sha256"
  NS1:passwordLength="12"
  NS1:usernameTB=""
  NS1:counter=""
  NS1:charset="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/"
  NS1:prefix=""
  NS1:suffix=""
  NS1:protocolCB="false"
  NS1:subdomainCB="false"
  NS1:domainCB="true"
  NS1:pathCB="false"
  />
<RDF:Description RDF:about="rdf:#$CHROME1"
 NS1:name="ck-default"
  NS1:urlToUse=""
  NS1:whereLeetLB="off"
  NS1:leetLevelLB="null"
  NS1:hashAlgorithmLB="sha256"
  NS1:passwordLength="12"
  NS1:usernameTB=""
  NS1:counter=""
  NS1:charset="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/"
  NS1:prefix=""
  NS1:suffix=""
  NS1:protocolCB="false"
  NS1:subdomainCB="false"
  NS1:domainCB="true"
  NS1:pathCB="false"
  />
<RDF:Description RDF:about="rdf:#$CHROME2"
 NS1:name="ck-alphanum"
  NS1:urlToUse=""
  NS1:whereLeetLB="off"
  NS1:leetLevelLB="null"
  NS1:hashAlgorithmLB="sha256"
  NS1:passwordLength="14"
  NS1:usernameTB=""
  NS1:counter=""
  NS1:charset="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
  NS1:prefix="a0"
  NS1:suffix=""
  NS1:protocolCB="false"
  NS1:subdomainCB="false"
  NS1:domainCB="true"
  NS1:pathCB="false"
  />
<RDF:Description RDF:about="rdf:#$CHROME3"
 NS1:name="ck-alnumsym"
  NS1:urlToUse=""
  NS1:whereLeetLB="off"
  NS1:leetLevelLB="null"
  NS1:hashAlgorithmLB="sha256"
  NS1:passwordLength="15"
  NS1:usernameTB=""
  NS1:counter=""
  NS1:charset="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
  NS1:prefix="a0+"
  NS1:suffix=""
  NS1:protocolCB="false"
  NS1:subdomainCB="false"
  NS1:domainCB="true"
  NS1:pathCB="false"
  />
<RDF:Seq RDF:about="http://passwordmaker.mozdev.org/accounts">
<RDF:li RDF:resource="http://passwordmaker.mozdev.org/defaults"/>
<RDF:li RDF:resource="rdf:#$CHROME1"/>
<RDF:li RDF:resource="rdf:#$CHROME2"/>
<RDF:li RDF:resource="rdf:#$CHROME3"/>
</RDF:Seq>
</RDF:RDF>
