{{ ansible_managed | comment }}

[user]
	email = {{ email }}
	name = {{ fullname }}
[push]
	default = simple
[alias]
	wdiff = diff --color-words
[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = {{ email }}
